# These packages are required for local development — install with:
#    pip install -r requirements.txt

streamlit
pandas
numpy
openai
sentence-transformers
faiss-cpu
networkx
pydot
rapidfuzz
matplotlib